<div style="border: black; border-style: solid; border-width: 3px;">
    <form>
        <label>Titre</label>
        <input value="{{film.titre}}" type="text"/>
        <br>
        <label>Réalisateur</label>
        <input value="{{film.realisateur}}" type="text"/>
        <br>
        <label>Année</label>
        <input value="{{film.annee}}" type="text"/>
        <br>
        <label>Genre</label>
        <input value="{{film.genre}}" type="text"/>
        <br>
        <label>Pays</label>
        <app-combopays></app-combopays>
        <button (click)="onClick()">Enregistrer</button>
    </form>
</div>